*.la
*.lo
*.o
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config_aux/
/configure
/doc/f2c-man.pdf
/doc/f2c-orig.pdf
/doc/f2c.aux
/doc/f2c.bbl
/doc/f2c.blg
/doc/f2c.fdb_latexmk
/doc/f2c.fls
/doc/f2c.log
/doc/f2c.out
/doc/f2c.pdf
/include/f2c_types.h
/include/stamp-h2
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/scripts/f77
/src/f2c
Makefile
Makefile.in
